:root {
  --plyr-color-main: #ffffff;
  --plyr-audio-controls-background: #1b995e;
  --plyr-audio-control-color: rgb(255, 255, 255);
  --plyr-control-radius: 50%;
  --plyr-audio-control-background-hover: #222;
}

* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Set the background color of the track */
::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
}

/* Set the background color of the thumb */
::-webkit-scrollbar-thumb {
  background-color: #01ac68;
  border-radius: 3px;
}

/* Set the width and height of the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.plyr__controls {
  border-radius: 50px !important;
}
